[Unit]
Description=FPC fingerprint ghost key disabler
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/uinput-fpc-key-disable
Restart=always

[Install]
WantedBy=graphical.target
